extends layout

block content
  h1= title
  -
    let results = [
      {
        "book_name": "HarryPotter",
        "book_author": "JKRouling",
        "book_cost": 10
      },
      {
        "book_name": "Secrets of U",
        "book_author": "Marco polo",
        "book_cost": 15
      },
      {
        "book_name": "Darkknight",
        "book_author": "LutherMR",
        "book_cost": 40
      },                   
    ]
  div(class= "container-fluid")
    div(class = "col m-1")
      each item,index in results
       - let destination = `dispatch(\"/books/update?id=${item._id}\")`
       div(class="row-sm-2", class="m-1") Item #{item.book_name}(#{item.book_author}) is #{item.book_cost}
       button.btn( class="btn-primary m1-1", onclick= destination) Update
  script.
    function dispatch(itemNum){
      window.location.href=path
    }